debugtools:
  imageTag: latest
nexusKubeApiserver:
  imageTag: latest
nexusApiGw:
  imageTag: latest
nexusEtcdKubectl:
  imageTag: latest
global:
  useHttps: false
  tainted: true
  nodeSelector:
    nexus: api
  k8sProxyServiceName: nexus-k8s-proxy
  api_gateway:
    pub_key: ""
    cert: ""
  registry: gcr.io/nsx-sm/nexus
  cronApiVersion: "batch/v1"
  resources: {}
  proxy:
    loadbalancer: false
  createEtcd: true
  etcd:
    selectors: |
        app: nexus-etcd
        nexus: nexus-etcd
