*.coverprofile
coverage*.out
*.test

cmd/nexus-sdk/nexus-sdk
cmd/nexus-openapi-gen
cmd/gqlgen
compiler.tar
_generated
_tsm_temp
example/output/generated/nexus-gql/server
/example/datamodel/build/nexus-gql/server
pkg/openapi_generator/openapi/openapi_generated.go.bak

### GoLand ###
.idea
report.json

cmd/debug
coverage.json
report.json
